<%- include('../partials/head') %>

    <div class="app">
        <%- include('../partials/menu') %>
        <%- include('../partials/admin') %>
        <%- include('../partials/pentagon') %>
    </div>

<%- include('../partials/foot') %>