<%- include('../partials/head') %>

    <div class="app">
        <%- include('../partials/admin') %>
        <h2>
            <%= page %>
        </h2>
        <div class="admin-form">
            <form action="<%= action %>" method="post" enctype="application/x-www-form-urlencoded">
                <div style="display: none;">
                    <label for="email">Username</label>
                    <input type="email" name="email" value="<%= user.email %>"
                        placeholder="Enter email">
                </div>
                <div>
                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstname" id="firstname"
                        placeholder="Enter Firstname" value="<%= profile.fname %>">
                </div>
                <div>
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" id="lastname"
                        placeholder="Enter Lastname" value="<%= profile.lname %>">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="admin-article"></div>
    </div>

<%- include('../partials/foot') %>