<%- include('../partials/head.ejs') %>

    <div class="app">
        <%- include('../partials/menu.ejs') %>
        <div class="section">
            <%- include('../partials/pentagon.ejs') %>
            <%- include('../partials/squre.ejs') %>
        </div>
    </div>

<%- include('../partials/foot.ejs') %>